@import "tailwindcss";

@layer base {
  body {
    background-color: #0f0f0f;
    color: #ffffff;
  }
}

* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
